@import "tailwindcss";

/* Enable class-based dark mode (Tailwind v4) */
@custom-variant dark (&:where(.dark, .dark *));

/* Theme variables */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* Apply globally */
body {
  background: var(--background);
  color: var(--foreground);
}



/* HERO SWIPER ONLY */

.hero-swiper .swiper-pagination-bullet {
  background: #ffffff;
  opacity: 0.6;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #022F70 !important;
  opacity: 1;
}

/* navigation buttons */
.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  color: #022F70 !important;
 
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  transition: 0.3s;
}



/* arrow size */
.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
  font-size: 14px;
}

-------
/* POPULAR SWIPER */
.popular-swiper .swiper-button-next,
.popular-swiper .swiper-button-prev {
  color: #052658 !important; ;
 
  width: 40px;
  height: 40px;
  margin-top: -100px;
  
  
}



.popular-swiper .swiper-button-next::after,
.popular-swiper .swiper-button-prev::after {
  font-size: 14px;
}

/* extra override for stubborn blue */
.popular-swiper .swiper-button-next,
.popular-swiper .swiper-button-prev {
  --swiper-navigation-color: #052658;
}

/* position */
.popular-swiper .swiper-button-prev {
  left: -10px;
  bottom: -200px;
}

.popular-swiper .swiper-button-next {
  right: -10px;
}
/* move buttons a little above center */
.popular-swiper .swiper-button-prev,
.popular-swiper .swiper-button-next {
  top: 50%;            
  transform: translateY(-150%);
}

/* POPULAR SWIPER DOTS */
.popular-swiper .swiper-pagination-bullet {
  background: #cbd5e1; 
  opacity: 1;
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
}

.popular-swiper .swiper-pagination-bullet-active {
  background: #052658 !important;   
  width: 18px;          
  border-radius: 9999px;
}

.popular-swiper .swiper-pagination {
  position: relative;
  bottom: -5px !important;
  margin-top: 12px;
}